<section class="notfound">
    <img src="../images/dist/404.webp" alt="">
    <div class="notfound-grad"></div>
    <div class="container">
        <div class="notfound__body">
            <div class="notfound__body-text">
                <h1>404</h1>
                <p>Страница не найдена</p>
            </div>
            <div class="notfound__body-links">
                <a href="">
                    Вернуться на главную 
                </a>
                <a href="">
                    Попробовать снова
                </a>
            </div>
        </div>
    </div>
</section>