<section class="article">
    <div class="container">
        <div class="article__body">
            <img src="../images/dist/article.webp" alt="">
            <div class="article__body-info">
                <span>10.10.2023</span>
                <h1>Первая серийная партия реверсивых приводов НЕМАН</h1>
                <p>Началось тестирование и отладка первой промышленной партии реверсивных приводов «НЕМАН», которые предназначены для воздушных и противопожарных клапанов. Эти приводы работают  по принципу «открыто-закрыто». Тестирование и отладка направлены на выявление возможных отказов.</p>
            </div>
        </div>
    </div>
</section>