<section class="bread alt">
    <div class="container">
        <div class="bread__body">
            <span>Главная</span>
            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4" cy="4" r="4" fill="#A0BEC3"/>
            </svg>
            <span>Продукция</span>
            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4" cy="4" r="4" fill="#A0BEC3"/>
            </svg>
            <span>Электроприводы для воздушных заслонок</span>
            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="4" cy="4" r="4" fill="#A0BEC3"/>
            </svg>
            <p>LM24-S</p>                
        </div>
    </div>
</section>