<main class="main">
    <div class="container">
        <div class="main__body">
            <div class="splide" id="main" role="group" aria-label="Splide Basic HTML Example">
                <div class="splide__arrows">
                    <button class="splide__arrow splide__arrow--prev">
                        <svg width="34" height="64" viewBox="0 0 34 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.00055 62.0005L32.0005 32.0005L2.00055 2.00049" stroke="#367589"
                                stroke-width="2.64326" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <button class="splide__arrow splide__arrow--next">
                        <svg width="34" height="64" viewBox="0 0 34 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.00055 62.0005L32.0005 32.0005L2.00055 2.00049" stroke="#367589"
                                stroke-width="2.64326" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <img src="../images/dist/Mask group.webp" alt="">
                        </li>
                        <li class="splide__slide">
                            <img src="../images/dist/Mask group.webp" alt="">
                        </li>
                        <li class="splide__slide">
                            <img src="../images/dist/Mask group.webp" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<section class="about">
    <div class="container">
        <div class="about__body">
            <img src="../images/dist/about.webp" alt="">
            <div class="about__body-info">
                <h1>HEMAH - oтечественный производитель электроприводов</h1>
                <p>НЕМАН – это электроприводы отечественного производства  для воздухорегулирующих и противопожарных
                    клапанов.  Это собственная разработка модельного ряда, учитывающая специфику и климат всех регионов
                    РФ, включая морские прибрежные зоны и Крайний Север</p>
            </div>
        </div>
    </div>
</section>
<section class="main__catalog">
    <div class="container">
        <div class="main__catalog-body">
            <h2>Категории продукции</h2>
            <div class="main__catalog-body-block">
                <div class="main__catalog-body-block-top">
                    <div class="main__catalog-body-block-top-item">
                        <img src="../images/dist/catalog/1.png" alt="">
                        <p>
                            Электроприводы <br>
                            для воздушных заслонок
                        </p>
                        <a class="main__catalog-body-block-top-item-btn" href="">
                            <svg width="43" height="43" viewBox="0 0 43 43" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M21.4224 42.667C33.2046 42.667 42.7559 33.1157 42.7559 21.3335C42.7559 9.55134 33.2046 0 21.4224 0C9.64021 0 0.0888672 9.55134 0.0888672 21.3335C0.0888672 33.1157 9.64021 42.667 21.4224 42.667ZM28.0061 20.744L20.412 13.1499C19.946 12.6839 19.1904 12.6839 18.7244 13.1499C18.2584 13.6159 18.2584 14.3714 18.7244 14.8374L25.4747 21.5878L18.7244 28.3381C18.2584 28.8041 18.2584 29.5597 18.7244 30.0257C19.1904 30.4917 19.9459 30.4917 20.412 30.0257L28.0061 22.4316C28.4721 21.9656 28.4721 21.21 28.0061 20.744Z"
                                    fill="white" />
                            </svg>
                        </a>
                    </div>
                    <div class="main__catalog-body-block-top-wrap">
                        <div class="main__catalog-body-block-top-wrap-item">
                            <img src="../images/dist/catalog/2.png" alt="">
                            <p>
                                Приводы <br>
                                специального назначения
                            </p>
                            <a class="main__catalog-body-block-top-item-btn" href="">
                                <svg width="43" height="43" viewBox="0 0 43 43" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M21.4224 42.667C33.2046 42.667 42.7559 33.1157 42.7559 21.3335C42.7559 9.55134 33.2046 0 21.4224 0C9.64021 0 0.0888672 9.55134 0.0888672 21.3335C0.0888672 33.1157 9.64021 42.667 21.4224 42.667ZM28.0061 20.744L20.412 13.1499C19.946 12.6839 19.1904 12.6839 18.7244 13.1499C18.2584 13.6159 18.2584 14.3714 18.7244 14.8374L25.4747 21.5878L18.7244 28.3381C18.2584 28.8041 18.2584 29.5597 18.7244 30.0257C19.1904 30.4917 19.9459 30.4917 20.412 30.0257L28.0061 22.4316C28.4721 21.9656 28.4721 21.21 28.0061 20.744Z"
                                        fill="white" />
                                </svg>
                            </a>
                        </div>
                        <div class="main__catalog-body-block-top-wrap-item">
                            <img src="../images/dist/catalog/3.png" alt="">
                            <p>
                                Запорно-регулирующая <br>
                                арматура с электроприводами
                            </p>
                            <a class="main__catalog-body-block-top-item-btn" href="">
                                <svg width="43" height="43" viewBox="0 0 43 43" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M21.4224 42.667C33.2046 42.667 42.7559 33.1157 42.7559 21.3335C42.7559 9.55134 33.2046 0 21.4224 0C9.64021 0 0.0888672 9.55134 0.0888672 21.3335C0.0888672 33.1157 9.64021 42.667 21.4224 42.667ZM28.0061 20.744L20.412 13.1499C19.946 12.6839 19.1904 12.6839 18.7244 13.1499C18.2584 13.6159 18.2584 14.3714 18.7244 14.8374L25.4747 21.5878L18.7244 28.3381C18.2584 28.8041 18.2584 29.5597 18.7244 30.0257C19.1904 30.4917 19.9459 30.4917 20.412 30.0257L28.0061 22.4316C28.4721 21.9656 28.4721 21.21 28.0061 20.744Z"
                                        fill="white" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="main__catalog-body-block-bot">
                    <div class="main__catalog-body-block-bot-item">
                        <img src="../images/dist/catalog/4.png" alt="">
                        <p>
                            Взрывозащищенные и <br>сверхбыстрые привода <br>IP66
                        </p>
                        <a class="main__catalog-body-block-top-item-btn" href="">
                            <svg width="43" height="43" viewBox="0 0 43 43" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M21.4224 42.667C33.2046 42.667 42.7559 33.1157 42.7559 21.3335C42.7559 9.55134 33.2046 0 21.4224 0C9.64021 0 0.0888672 9.55134 0.0888672 21.3335C0.0888672 33.1157 9.64021 42.667 21.4224 42.667ZM28.0061 20.744L20.412 13.1499C19.946 12.6839 19.1904 12.6839 18.7244 13.1499C18.2584 13.6159 18.2584 14.3714 18.7244 14.8374L25.4747 21.5878L18.7244 28.3381C18.2584 28.8041 18.2584 29.5597 18.7244 30.0257C19.1904 30.4917 19.9459 30.4917 20.412 30.0257L28.0061 22.4316C28.4721 21.9656 28.4721 21.21 28.0061 20.744Z"
                                    fill="white" />
                            </svg>
                        </a>
                    </div>
                    <div class="main__catalog-body-block-bot-item">
                        <img src="../images/dist/catalog/5.png" alt="">
                        <p>
                            Системные решения и <br>дополнительное <br> оборудование
                        </p>
                        <a class="main__catalog-body-block-top-item-btn" href="">
                            <svg width="43" height="43" viewBox="0 0 43 43" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M21.4224 42.667C33.2046 42.667 42.7559 33.1157 42.7559 21.3335C42.7559 9.55134 33.2046 0 21.4224 0C9.64021 0 0.0888672 9.55134 0.0888672 21.3335C0.0888672 33.1157 9.64021 42.667 21.4224 42.667ZM28.0061 20.744L20.412 13.1499C19.946 12.6839 19.1904 12.6839 18.7244 13.1499C18.2584 13.6159 18.2584 14.3714 18.7244 14.8374L25.4747 21.5878L18.7244 28.3381C18.2584 28.8041 18.2584 29.5597 18.7244 30.0257C19.1904 30.4917 19.9459 30.4917 20.412 30.0257L28.0061 22.4316C28.4721 21.9656 28.4721 21.21 28.0061 20.744Z"
                                    fill="white" />
                            </svg>
                        </a>
                    </div>
                    <div class="main__catalog-body-block-bot-item">
                        <p>
                            Перейти в каталог
                        </p>
                        <a class="main__catalog-body-block-top-item-btn" href="">
                            <svg width="43" height="43" viewBox="0 0 43 43" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M21.4224 42.667C33.2046 42.667 42.7559 33.1157 42.7559 21.3335C42.7559 9.55134 33.2046 0 21.4224 0C9.64021 0 0.0888672 9.55134 0.0888672 21.3335C0.0888672 33.1157 9.64021 42.667 21.4224 42.667ZM28.0061 20.744L20.412 13.1499C19.946 12.6839 19.1904 12.6839 18.7244 13.1499C18.2584 13.6159 18.2584 14.3714 18.7244 14.8374L25.4747 21.5878L18.7244 28.3381C18.2584 28.8041 18.2584 29.5597 18.7244 30.0257C19.1904 30.4917 19.9459 30.4917 20.412 30.0257L28.0061 22.4316C28.4721 21.9656 28.4721 21.21 28.0061 20.744Z"
                                    fill="white" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main__news">
    <div class="container">
        <div class="main__news-body">
            <h2>Новости</h2>
            <div class="main__news-body-block">
                <a href="" class="main__news-body-block-item">
                    <img src="../images/dist/news.png" alt="">
                    <div class="main__news-body-block-item-info">
                        <span>10.10.2024</span>
                        <p>Первая серийная партия реверсивых приводов НЕМАН</p>
                    </div>
                    <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4.15404 0.149894L15.9306 0.710682C16.6533 0.745094 17.2112 1.35883 17.1768 2.0815L16.616 13.8581C16.5816 14.5808 15.9679 15.1387 15.2452 15.1043C14.5225 15.0699 13.9646 14.4561 13.999 13.7335L14.4094 5.1159L2.3396 16.0884C1.80426 16.5751 0.975762 16.5356 0.489091 16.0003C0.00242007 15.465 0.0418726 14.6365 0.577211 14.1498L12.647 3.17727L4.02942 2.76691C3.30676 2.7325 2.74881 2.11876 2.78323 1.39609C2.81764 0.673423 3.43137 0.115481 4.15404 0.149894Z"
                            fill="#367589" />
                    </svg>
                </a>
                <a href="" class="main__news-body-block-item">
                    <img src="../images/dist/news.png" alt="">
                    <div class="main__news-body-block-item-info">
                        <span>10.10.2024</span>
                        <p>Первая серийная партия реверсивых приводов НЕМАН</p>
                    </div>
                    <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4.15404 0.149894L15.9306 0.710682C16.6533 0.745094 17.2112 1.35883 17.1768 2.0815L16.616 13.8581C16.5816 14.5808 15.9679 15.1387 15.2452 15.1043C14.5225 15.0699 13.9646 14.4561 13.999 13.7335L14.4094 5.1159L2.3396 16.0884C1.80426 16.5751 0.975762 16.5356 0.489091 16.0003C0.00242007 15.465 0.0418726 14.6365 0.577211 14.1498L12.647 3.17727L4.02942 2.76691C3.30676 2.7325 2.74881 2.11876 2.78323 1.39609C2.81764 0.673423 3.43137 0.115481 4.15404 0.149894Z"
                            fill="#367589" />
                    </svg>
                </a>
                <a href="" class="main__news-body-block-item">
                    <img src="../images/dist/news.png" alt="">
                    <div class="main__news-body-block-item-info">
                        <span>10.10.2024</span>
                        <p>Первая серийная партия реверсивых приводов НЕМАН</p>
                    </div>
                    <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4.15404 0.149894L15.9306 0.710682C16.6533 0.745094 17.2112 1.35883 17.1768 2.0815L16.616 13.8581C16.5816 14.5808 15.9679 15.1387 15.2452 15.1043C14.5225 15.0699 13.9646 14.4561 13.999 13.7335L14.4094 5.1159L2.3396 16.0884C1.80426 16.5751 0.975762 16.5356 0.489091 16.0003C0.00242007 15.465 0.0418726 14.6365 0.577211 14.1498L12.647 3.17727L4.02942 2.76691C3.30676 2.7325 2.74881 2.11876 2.78323 1.39609C2.81764 0.673423 3.43137 0.115481 4.15404 0.149894Z"
                            fill="#367589" />
                    </svg>
                </a>
                <a href="" class="main__news-body-block-item">
                    <img src="../images/dist/news.png" alt="">
                    <div class="main__news-body-block-item-info">
                        <span>10.10.2024</span>
                        <p>Первая серийная партия реверсивых приводов НЕМАН</p>
                    </div>
                    <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4.15404 0.149894L15.9306 0.710682C16.6533 0.745094 17.2112 1.35883 17.1768 2.0815L16.616 13.8581C16.5816 14.5808 15.9679 15.1387 15.2452 15.1043C14.5225 15.0699 13.9646 14.4561 13.999 13.7335L14.4094 5.1159L2.3396 16.0884C1.80426 16.5751 0.975762 16.5356 0.489091 16.0003C0.00242007 15.465 0.0418726 14.6365 0.577211 14.1498L12.647 3.17727L4.02942 2.76691C3.30676 2.7325 2.74881 2.11876 2.78323 1.39609C2.81764 0.673423 3.43137 0.115481 4.15404 0.149894Z"
                            fill="#367589" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="area">
    <div class="container">
        <div class="area__body">
            <h2>Область применения</h2>
            <div class="splide" id="area" role="group" aria-label="Splide Basic HTML Example">
                <div class="splide__arrows">
                    <button class="splide__arrow splide__arrow--prev">
                        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.2695 27.5547L23.1367 18.6875L14.2695 9.82031" stroke="#344054"
                                stroke-width="2.96164" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                    </button>
                    <button class="splide__arrow splide__arrow--next">
                        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.2695 27.5547L23.1367 18.6875L14.2695 9.82031" stroke="#344054"
                                stroke-width="2.96164" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <img src="../images/dist/area.webp" alt="">
                            <p>Железнодорожный <br> транспорт</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feedback">
    <div class="container">
        <div class="feedback__body">
            <img src="../images/dist/feed.webp" alt="">
            <h2>Нужна помощь в подборе электропривода?</h2>
            <div class="feedback__body-main">
                <h3>Оставьте контактные данные, чтобы с вами связался специалист</h3>
                <form action="" class="feedback__body-main-form">
                    <input placeholder="Введите имя" type="text">
                    <input placeholder="Введите номер телефона" type="tel">
                    <input placeholder="Введите почту" type="email">
                    <button>
                        Отправить заявку
                        <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M4.49072 0.58074L16.2673 1.14153C16.99 1.17594 17.5479 1.78968 17.5135 2.51235L16.9527 14.2889C16.9183 15.0116 16.3046 15.5695 15.5819 15.5351C14.8592 15.5007 14.3013 14.887 14.3357 14.1643L14.746 5.54675L2.67627 16.5193C2.14093 17.0059 1.31243 16.9665 0.825761 16.4312C0.33909 15.8958 0.378543 15.0673 0.913881 14.5806L12.9837 3.60812L4.3661 3.19776C3.64343 3.16334 3.08548 2.54961 3.1199 1.82694C3.15431 1.10427 3.76805 0.546327 4.49072 0.58074Z"
                                fill="#367589" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
