<section class="news">
    <div class="container">
        <div class="news__body">
            <div class="news__body-item">
                <div class="news__body-item-info">
                    <div class="news__body-item-info-text">
                        <span>Первая серийная партия реверсивых приводов НЕМАН</span>
                        <p>Начато тестирование и отработка на отказ первой серийной партии реверсивных приводов НЕМАН типа «открыто-закрыто» для воздушных и противопожарных клапанов</p>
                    </div>
                    <a href="">
                        Подробнее
                    </a>
                </div>
                <img src="../images/dist/news__page.webp" alt="">
            </div>
            <div class="news__body-item">
                <div class="news__body-item-info">
                    <div class="news__body-item-info-text">
                        <span>Первые этапы</span>
                        <p>Пройдены все этапы постановки на серийное производство взрывозащищённых приводов сверхбыстрого срабатывания НЕМАН модельного ряда НЕМЕХ и НЕМРА</p>
                    </div>
                    <a href="">
                        Подробнее
                    </a>
                </div>
                <img src="../images/dist/news__page.webp" alt="">
            </div>
            <div class="news__body-item">
                <div class="news__body-item-info">
                    <div class="news__body-item-info-text">
                        <span>Система автоматического пооперационного контроля качества</span>
                        <p>Запущена и прошла успешные испытания система автоматического пооперационного контроля качества линии бездефектной сборки электроприводов</p>
                    </div>
                    <a href="">
                        Подробнее
                    </a>
                </div>
                <img src="../images/dist/news__page.webp" alt="">
            </div>
            <div class="news__body-item">
                <div class="news__body-item-info">
                    <div class="news__body-item-info-text">
                        <span>Исследовательский лабораторный комплекс</span>
                        <p>Запущен исследовательский лабораторный комплекс внешнего контроля качества электроприводов для тестирования собственной продукции и контроля соответствия заявляемым характеристикам любых других производителей</p>
                    </div>
                    <a href="">
                        Подробнее
                    </a>
                </div>
                <img src="../images/dist/news__page.webp" alt="">
            </div>
            <div class="news__body-item">
                <div class="news__body-item-info">
                    <div class="news__body-item-info-text">
                        <span>Семинар для крупнейших участников вентиляционного рынка</span>
                        <p>Проведён выездной семинар по выпускаемой продукции НЕМАН для одного из крупнейших участников вентиляционного рынка</p>
                    </div>
                    <a href="">
                        Подробнее
                    </a>
                </div>
                <img src="../images/dist/news__page.webp" alt="">
            </div>
            <div class="news__body-pag">
                <a href="">
                    <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 0.75L1 5L5.5 9.25" stroke="#B8B8B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                        
                </a>
                <a class="page" href="">1</a>
                <a class="page active" href="">2</a>
                <a class="page" href="">3</a>
                <a class="page" href="">4</a>
                <a class="page" href="">5</a>
                <a class="page" href="">6</a>
                <a href="">...</a>
                <a href="">
                    <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 9.25L6 5L1.5 0.75" stroke="#B8B8B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                        
                </a>
            </div>
        </div>
    </div>
</section>