<section class="product">
    <div class="container">
        <div class="product__body">
            <div class="product__body-start">
                <div class="product__body-start-title">
                    <svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.558594 1.12114C0.558594 0.575434 0.997329 0.133057 1.53854 0.133057H19.1775C19.7187 0.133057 20.1574 0.575434 20.1574 1.12114C20.1574 1.66684 19.7187 2.10921 19.1775 2.10921H1.53854C0.997329 2.10921 0.558594 1.66684 0.558594 1.12114Z" fill="#367589"/>
                        <path d="M0.558594 7.04961C0.558594 6.5039 0.997329 6.06153 1.53854 6.06153H19.1775C19.7187 6.06153 20.1574 6.5039 20.1574 7.04961C20.1574 7.59531 19.7187 8.03768 19.1775 8.03768H1.53854C0.997329 8.03768 0.558594 7.59531 0.558594 7.04961Z" fill="#367589"/>
                        <path d="M1.53854 11.99C0.997329 11.99 0.558594 12.4324 0.558594 12.9781C0.558594 13.5238 0.997329 13.9662 1.53854 13.9662H19.1775C19.7187 13.9662 20.1574 13.5238 20.1574 12.9781C20.1574 12.4324 19.7187 11.99 19.1775 11.99H1.53854Z" fill="#367589"/>
                    </svg>
                    <span>Продукция</span>                        
                </div>
                <div class="product__body-start-tabs">
                    <div class="product__body-start-tabs-item active">
                        <span>Электроприводы <br>
                            для воздушных заслонок</span>
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.375 18.75L15.625 12.5L9.375 6.25" stroke="#367589" stroke-width="2.64326" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                    <div class="product__body-start-tabs-item active">
                        <span>Приводы без возвратной <br> пружины</span>
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.375 18.75L15.625 12.5L9.375 6.25" stroke="#367589" stroke-width="2.64326" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                </div>
            </div>
            <div class="product__body-block">
                <div class="product__body-block-title">
                    <div class="product__body-block-title-text">
                        <h1>Электропривод LM24-S</h1>
                        <a href="">
                            Получить консультацию
                        </a>
                    </div>
                    <p>Электропривод c плавной регулировкой для управления воздушными заслонками, выполняющими охранные функции в системах вентиляции и кондиционирования воздуха зданий.</p>
                </div>
                <div class="splide" id="product" role="group" aria-label="Splide Basic HTML Example">
                    <div class="splide__arrows">
                        <button class="splide__arrow splide__arrow--prev">
                            
                        </button>
                        <button class="splide__arrow splide__arrow--next">
                            <svg width="107" height="107" viewBox="0 0 107 107" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M40.126 26.7498L66.876 53.4998L40.126 80.2498" stroke="#F4F1F1" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </button>
                    </div>
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <img src="../images/dist/1.png" alt="">
                            </li>
                            <li class="splide__slide">
                                <img src="../images/dist/2.png" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="product__body-block-attr">
                    <h2>Технические данные</h2>
                    <div class="product__body-block-attr-column">
                        <div class="product__body-block-attr-items">
                            <div class="product__body-block-attr-items-col">
                                <h3>Электрические параметры</h3>
                                <div class="product__body-block-attr-items-col-wrap">
                                    <div class="product__body-block-attr-items-col-wrap-simple">
                                        <span>Номинальное <br> напряжение</span>
                                        <p>24 B~, 50/60Гц <br>
                                            24 B=</p>
                                    </div>
                                    <div class="product__body-block-attr-items-col-wrap-simple">
                                        <span>Диапазон номинального <br> напряжения </span>
                                        <p>19,2 ... 28,8 B~/=</p>
                                    </div>
                                    <div class="product__body-block-attr-items-col-wrap-simple">
                                        <span>Расчетная <br> мощность</span>
                                        <p>7 BA</p>
                                    </div>
                                    <div class="product__body-block-attr-items-col-wrap-dop">
                                        <span class="product__body-block-attr-items-col-wrap-dop-title">Потребляемая мощность </span>
                                        <ul>
                                            <li>
                                                <span>во время вращения </span>
                                                <p>3 Вт при номинальном <br> крутящем моменте </p>
                                            </li>
                                            <li>
                                                <span>в состоянии покоя</span>
                                                <p>1 Вт</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product__body-block-attr-items-col-wrap-simple">
                                        <span>Вспомогательные <br> переключатели <br>
                                            для LM24-S</span>
                                        <p>2 однополюсных с двойным <br> переключением, <br>1 мА... 3 (1,5)А, 250В~</p>
                                    </div>
                                    <div class="product__body-block-attr-items-col-wrap-dop">
                                        <span class="product__body-block-attr-items-col-wrap-dop-title">Соединение</span>
                                        <ul>
                                            <li>
                                                <span>питание/управление </span>
                                                <p>кабель 1м, 3×0,5 мм²</p>
                                            </li>
                                            <li>
                                                <span>вспом. переключатели</span>
                                                <p>кабель 1м, 6×0,5 мм² <br>(для LM24-S2)</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="product__body-block-attr-items-col">
                                <h3>Безопасность</h3>
                                <div class="product__body-block-attr-items-col-wrap">
                                    <div class="product__body-block-attr-items-col-wrap-dop">
                                        <span class="product__body-block-attr-items-col-wrap-dop-title">Класс защиты</span>
                                        <ul>
                                            <li>
                                                <span>для  низких напряжений </span>
                                                <p>III</p>
                                            </li>
                                            <li>
                                                <span>для вспом. переключателей</span>
                                                <p>II</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product__body-block-attr-items-col-wrap-simple">
                                        <span>Степень защиты <br>корпуса</span>
                                        <p>IP54 <br>
                                            В любом положении <br> установки</p>
                                    </div>
                                    <div class="product__body-block-attr-items-col-wrap-simple">
                                        <span>Температура <br> окружающей среды</span>
                                        <p>-30° ... +50°С</p>
                                    </div>
                                    <div class="product__body-block-attr-items-col-wrap-simple">
                                        <span>Температура <br> хранения</span>
                                        <p>-30° ... +80°С</p>
                                    </div>
                                    
                                    <div class="product__body-block-attr-items-col-wrap-simple">
                                        <span>Влажность <br> окружающей среды</span>
                                        <p>95% отн., <br>
                                            не конденсир.</p>
                                    </div>
                                    <div class="product__body-block-attr-items-col-wrap-simple">
                                        <span>Техничекое <br> обслуживание</span>
                                        <p>Не требуется</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__body-block-attr-items">
                            <div class="product__body-block-attr-items-col">
                                <h3>Функциональные данные</h3>
                                <div class="product__body-block-attr-items-col-wrap">
                                    <div class="product__body-block-attr-items-col-wrap-simple">
                                        <span>Крутящий <br>
                                            момент</span>
                                        <p>мин. 5 Нм</p>
                                    </div>
                                    <div class="product__body-block-attr-items-col-wrap-simple">
                                        <span>Диапазон номинального <br> напряжения </span>
                                        <p>19,2 ... 28,8 B~/=</p>
                                    </div>
                                    <div class="product__body-block-attr-items-col-wrap-dop">
                                        <span class="product__body-block-attr-items-col-wrap-dop-title">Направление вращения <br>Выбирается переключателем</span>
                                        <ul>
                                            <li>
                                                <span>против час. стрелки</span>
                                                <p>CCW</p>
                                            </li>
                                            <li>
                                                <span>по час. стрелки</span>
                                                <p>CW</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product__body-block-attr-items-col-wrap-simple">
                                        <span>Ручное <br> управление</span>
                                        <p>Редуктор выводится из <br> зацепления при помощи <br> кнопки с самозатвором</p>
                                    </div>
                                    <div class="product__body-block-attr-items-col-wrap-simple">
                                        <span>Угол поворота</span>
                                        <p>Макс. 90° <br> ограничение  с двух сторон <br> при помощи настраиваемых <br> механических упоров</p>
                                    </div>
                                    <div class="product__body-block-attr-items-col-wrap-simple">
                                        <span>Время поворота</span>
                                        <p><60 с / 90</p>
                                    </div>
                                    <div class="product__body-block-attr-items-col-wrap-simple">
                                        <span>Уровень шума</span>
                                        <p>45 дБ</p>
                                    </div>
                                    <div class="product__body-block-attr-items-col-wrap-simple">
                                        <span>Индикация положения</span>
                                        <p>Механический указаель 
                                            Съемный</p>
                                    </div>
                                </div>
                            </div>
                            <div class="product__body-block-attr-items-col">
                                <h3>Размеры / вес</h3>
                                <div class="product__body-block-attr-items-col-wrap">
                                    <div class="product__body-block-attr-items-col-wrap-simple">
                                        <span>Крутящий <br>
                                            момент</span>
                                        <p>мин. 5 Нм</p>
                                    </div>
                                    <div class="product__body-block-attr-items-col-wrap-simple">
                                        <span>Диапазон номинального <br> напряжения </span>
                                        <p>19,2 ... 28,8 B~/=</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="product__body-block-graph">
                    <div class="product__body-block-graph-wrap">
                        <h2>Электрическое подключение</h2>
                        <img src="../images/dist/graph.webp" alt="">
                    </div>
                    <a href="">Скачать полную информацию в pdf.</a>
                </div>
                <div class="product__body-block-dif">
                    <h3>
                        Похожие приводы
                    </h3>
                    <div class="product__body-block-dif-wrap">
                        <a href="" class="product__body-block-items-element">
                            <div class="product__body-block-items-element-img">
                                <img src="../images/dist/catalog.webp" alt="">
                            </div>
                            <div class="product__body-block-items-element-info">
                                <span>TM24-S</span>
                                <ul>
                                    <li>2 Нм</li>
                                    <li>24 В</li>
                                    <li>Вспом. перекл.</li>
                                </ul>
                            </div>
                        </a>
                        <a href="" class="product__body-block-items-element">
                            <div class="product__body-block-items-element-img">
                                <img src="../images/dist/catalog.webp" alt="">
                            </div>
                            <div class="product__body-block-items-element-info">
                                <span>LM24-S</span>
                                <ul>
                                    <li>2 Нм</li>
                                    <li>3-х позиционное</li>
                                    <li>Вспом. перекл.</li>
                                </ul>
                            </div>
                        </a>
                        <a href="" class="product__body-block-items-element">
                            <div class="product__body-block-items-element-img">
                                <img src="../images/dist/catalog.webp" alt="">
                            </div>
                            <div class="product__body-block-items-element-info">
                                <span>TM230</span>
                                <ul>
                                    <li>2 Нм</li>
                                    <li>24 В</li>
                                    <li>Вспом. перекл.</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feedback">
    <div class="container">
        <div class="feedback__body">
            <img src="../images/dist/feed.webp" alt="">
            <h2>Нужна помощь в подборе электропривода?</h2>
            <div class="feedback__body-main">
                <h3>Оставьте контактные данные, чтобы с вами связался специалист</h3>
                <form action="" class="feedback__body-main-form">
                    <input placeholder="Введите имя" type="text">
                    <input placeholder="Введите номер телефона" type="tel">
                    <input placeholder="Введите почту" type="email">
                    <button>
                        Отправить заявку
                        <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M4.49072 0.58074L16.2673 1.14153C16.99 1.17594 17.5479 1.78968 17.5135 2.51235L16.9527 14.2889C16.9183 15.0116 16.3046 15.5695 15.5819 15.5351C14.8592 15.5007 14.3013 14.887 14.3357 14.1643L14.746 5.54675L2.67627 16.5193C2.14093 17.0059 1.31243 16.9665 0.825761 16.4312C0.33909 15.8958 0.378543 15.0673 0.913881 14.5806L12.9837 3.60812L4.3661 3.19776C3.64343 3.16334 3.08548 2.54961 3.1199 1.82694C3.15431 1.10427 3.76805 0.546327 4.49072 0.58074Z"
                                fill="#367589" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>